@charset "UTF-8";
/* CSS Document */
/*@import url('typography.css');*/
@import url('art_stylesheet.css');
@import url('beligerant_typo.css');   
    body,
    html {
    margin:0;
    padding:0;
    color:#000;
    /*background:#a7a09a;*/
	font-family:Verdana, Geneva, sans-serif;
	line-height:150%;
    }
	
	/*body{
		font-family: artifikamedium;
	}*/
h1{font:bold 1.5em Verdana, Geneva, sans-serif;
/*h1{font:bold 1.5em belligerent_madness regular;padding: 6px 14px 6px 14px;*/
	
	
}

#titlebar {
	background-color:red;

	
}
    #container {
    width:750px;
	width:90%;
    margin:0 auto;
/*    background:#99c;*/
	    }
#topimg{
margin-left:auto;
margin-right:auto;
 }


#header {
background:#ddd;
}
#navbar {
/*background-color:#c99;*/
}
#maincontent {
/*background-color:#9c9;*/
float:left;
width:75%;
}
/*#sidebar {
background-color:#c9c;
float:right;
width:25%;
}*/

#linksmenu{
	font-family:Verdana, Geneva, sans-serif;
	line-height:150%;
	float:right;
	width: 20%;
	height:auto;
	margin-top:0;
	padding-top:0;
	padding-right:3px;
	padding-left:0;
}


/*code the blockquote - cheat taken from http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ - because its good!*/
blockquote {
	line-height:150%;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  border-color:#CCC;
  border-width:thin;
  
}
blockquote h3{
	color:blue;
}

/*div.line{
}*/
.byline{
	font-style:oblique;
	font-size-adjust:70%;
	opacity:70%;
	font-size: smaller;
	text-align:right
}
.stanza{
	color:red;
	/*line-height: 30em;*/ 
	}
.stanza:after {
    content:"\a";
	white-space:pre-wrap;
	}

/*end code blockquote*/
	
#linksmenu h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#60C
	text-decoration:overline;
}

#linksmenu ul{
list-style-type: none;
}

#linksmenu li{
	margin-top:7%;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
	line-height:50%;
	
}

#linksmenu a:link{
	font-size-adjust:0.5;
	text-decoration:none;
	color:black;
}
#linksmenu a:visited{
	font-size-adjust:0.5;
	text-decoration:none;
	color:black;
}

#linksmenu a:hover{
	font-size-adjust:0.5;
	color: black;
	text-decoration:overline underline;
	}

#linksmenu a:active{
	font-size-adjust:0.5;
	color: transparent;
	text-shadow: 0 0 5px #000;
}


#footer {
background-color:#cc9;
clear:both;
}
/*#titlebar{
	background-color:#FFC;
}*/

.topNav {
	float:none;
	margin-right: 20px;
	text-align: center;
}
div.topNav a {
	background-color: #8ED1E0;
	color: #fff;
	font-size: 16px;
	padding: 10px 30px 10px 30px;
	text-decoration: none;
	margin: 0px 0px 0px 15px;
	min-width: 90px;
	display: inline-block;
/*	border-bottom: 5px solid #54A9BC;
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;*/

}
div.topNav a:hover {
	background-color: #333;
	color: #fff;
}

p#socialicons img:hover{ 
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-moz-transform: rotate(-360deg);
-webkit-transform: rotate(-360deg);
-o-transform: rotate(-360deg);
-ms-transform: rotate(-360deg);
transform: rotate(-360deg);
}
