@font-face {
    font-family: 'artifikamedium';
    src: url('fonts/artifika-regular-webfont.eot');
    src: url('fonts/artifika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/artifika-regular-webfont.woff') format('woff'),
         url('fonts/artifika-regular-webfont.ttf') format('truetype'),
         url('fonts/artifika-regular-webfont.svg#artifikamedium') format('svg');
    font-weight: normal;
    font-style: normal;

}